bumpversion==0.5.3
coverage==4.5.4
flake8==3.7.9
geojson==2.5.0
pip==19.3.1
pluggy==0.13.0
pytest==5.2.0
pytest-cov==2.7.1
pytest-runner==5.2
pytest-vcr==1.0.2
Sphinx==2.2.1
tox==3.14.0
twine==1.15.0
wheel==0.33.6
