interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/reverse?lat=43.939&lon=-74.524&format=json&addressdetails=1
  response:
    body: {string: "{\"place_id\":\"79307857\",\"licence\":\"Data \xA9 OpenStreetMap\
        \ contributors, ODbL 1.0. https:\\/\\/osm.org\\/copyright\",\"osm_type\":\"\
        way\",\"osm_id\":\"20094105\",\"lat\":\"43.93813\",\"lon\":\"-74.526925\"\
        ,\"display_name\":\"Whitney Access Road, Town of Long Lake, Hamilton County,\
        \ New York, USA\",\"address\":{\"road\":\"Whitney Access Road\",\"county\"\
        :\"Hamilton County\",\"state\":\"New York\",\"country\":\"USA\",\"country_code\"\
        :\"us\"},\"boundingbox\":[\"43.92113\",\"43.94052\",\"-74.543527\",\"-74.524313\"\
        ]}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Upgrade: [h2]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://streamstats.usgs.gov/streamstatsservices/watershed.geojson?rcode=NY&xlocation=-74.524&ylocation=43.939&crs=4326&includeparameters=True&includeflowtypes=False&includefeatures=True&simplify=False
  response:
    body: {string: '{"workspaceID":"NY20181102184114151000","featurecollection":[{"name":"globalwatershedpoint","feature":{"type":"FeatureCollection","crs":{"type":"ESPG","properties":{"code":4326}},"features":[{"properties":{"Edited":0,"FID":0,"OBJECTID":1,"Descript":"P04150305","WARNINGMSG":"
        ","HUCID":"04150305","DrainID":2,"Longitude":0,"HydroID":1,"Measure":0,"Latitude":0,"ReachCode":"
        ","Name":"ags101"},"type":"Feature","bbox":[-74.5239635877534,43.939073023449794],"geometry":{"type":"Point","coordinates":[-74.5239635877534,43.939073023449794]}}]}},{"name":"globalwatershed","feature":{"type":"FeatureCollection","crs":{"type":"ESPG","properties":{"code":4326}},"features":[{"properties":{"LAGFACTOR":0.0153291947,"LC11DEV":0.203062514245,"CSL1085UP":510.316078274,"DrainID":2,"STORAGE":8.19295082986,"JUNAVPRE":4.0821102321,"HydroID":2,"streamid":0,"SSURGOA":5.659912,"SSURGOB":0,"Edited":0,"Shape_Area":4826100,"CENTROIDY":4866018.3698,"MXSNO":25.23237,"OUTLETX":538205,"OUTLETY":4865215,"LC11IMP":0.00217566979549,"RELATEDOID":"
        ","CSL10_85":216.723838415,"DRNAREA":1.86354923774,"JUNMAXTMP":71.800304,"CONTOUR":19.5534688602,"FOREST":91.8070491701,"A":0,"CSL1085LO":42.5367442438,"SLOPERATIO":0.2065493058,"Name":"ags101","OBJECTID":1,"EL1200":100,"Descript":"W04150305","GlobalWshd":1,"PRJUNAUG00":12.8630236089,"URBNLCD200":0,"BSLOPCM":1049.25957759,"FID":0,"Shape_Leng":14700,"CENTROIDX":538472.752844,"JULAVPRE":4.2632873972,"MAYAVPRE":3.9019877913,"ExcludeCod":0,"MAR":25.33059,"ORIG_FID":1,"WARNINGMSG":"
        ","HUCID":"04150305","LENGTH":2.28713626403,"PRECIP":41.34824},"type":"Feature","bbox":[-74.497435084448739,43.960988975278788,-74.545726004675345,43.932148951621862],"geometry":{"type":"Polygon","coordinates":[[[-74.537038111953422,43.932148951621862],[-74.537162694552762,43.932149456297246],[-74.537161996305571,43.93223948954126],[-74.53728657909609,43.93223999408243],[-74.5372858810336,43.932330027326614],[-74.537410464015309,43.932330531733534],[-74.537409766137486,43.932420564977825],[-74.537534349310377,43.932421069250495],[-74.5375336516172[...]
